table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
}

td {
    text-align: center;
}

.the__1 {
    height: 80px;
}

td {
    text-transform: uppercase;
    height: 60px;
}
